<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" href="{% url 'index' %}" style="color: aliceblue;">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color: white;">
    <span class="navbar-toggler-icon" style="background-color: white;"></span>
    <i class="fa fa-window-close" aria-hidden="true"></i>

  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'hood' %}" style="color: aliceblue;">Hood <span class="sr-only">(current)</span></a>
      </li>
      
        
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: aliceblue;">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{%url 'signup'%}">Register</a>
          {% if user.is_authenticated %}
          <a class="dropdown-item" href="{% url 'logout'%}">Logout</a>
          {% endif %}
          <div class="dropdown-divider"></div>
          
        </div>
      </li>
      {% if user.is_authenticated %}
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: green;">
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      
                <a class="dropdown-item" href="{% url 'profile' user.username %}">Profile</a>
                <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'edit-profile' user.username %}">Edit Profile</a>
          
          
        </div>
      </li>
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <a href="{% url 'search'%}"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button></a>
    </form>
  </div>
</nav>